@{
    ViewBag.Title = "DataPredictive";
}

<h2>Data Prediction</h2>

<div>
    <div class="placeHolder">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span>Customer ID</span>
                            <input type="text" clsss="textcss" id="txtTnNumber" />
                        </td>
                        <td>
                            <span>Repeat Count</span>
                            <input type="text" clsss="textcss" id="txtRepeatCount" />
                        </td>
                        <td>
                            <span>Reason</span>

                            <select id="drpReason">
                                <option>All</option>
                                <option>Competition or Price</option>
                                <option>Service or Billing</option>
                            </select>
                        </td>
                        <td><input type="button" value="Search" title="Search" onclick="fnGoToGraph()" id="btnSearch" /></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
        @*<span class="col-md-4">Reason</span>

            <select class="col-md-8" id="drpReason">
                <option>All</option>
                <option>Competition or Price</option>
                <option>Service or Billing</option>
            </select>*@
    </div>
    <div class="placeHolder">
        <div id="divGraphArea" class="col-md-12">
            <div id ="divGraph1" class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <div id="chartContainer_0" style="height: 300px; width: 100%;">
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="divGraph2" class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <div id="chartContainer_1" style="height: 300px; width: 100%;">
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/DataPrediction.js"></script>
