@{
    ViewBag.Title = "DataPredictive";
}


<div class="Wpanel">
    <div class="wpanel-wrapper">
        <div class="Wpanel-content">
            <div class="table-responsive">
                <table class="table" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <span class="lableStyle">Customer ID: </span>
                                <input type="text" class="Wcustom-input-text" id="txtTnNumber" />
                            </td>
                            <td>
                                <span class="lableStyle">Repeat Count: </span>
                                <input type="text" class="Wcustom-input-text" id="txtRepeatCount" />
                            </td>
                            <td>
                                <span class="lableStyle">Reason: </span>

                                <select id="drpReason" class="Wcustom-input-text">
                                    <option>All</option>
                                    <option>Competition or Price</option>
                                    <option>Service or Billing</option>
                                </select>
                            </td>                           
                            
                        </tr>
                        <tr>
                            <td>
                                <span class="lableStyle">Result Type: </span>

                                <select id="drpChartType" class="Wcustom-input-text">
                                    <option>Default</option>
                                    <option>Pie</option>
                                    <option>Line</option>
                                    <option>Bar</option>
                                </select>
                            </td>
                            <td colspan ="2">
                                <br />
                                <input type="button" value="Search"  class="wbuttonstyle" title="Search" onclick="fnGoToGraph()" id="btnSearch" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="wpanel-wrapper">
        <div class="Wpanel-content">
            <div id="divGraphArea" class="col-md-12">
                <div id="divGraph1" class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <div id="chartContainer_0" style="height: 300px; width: 70%;">
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="divGraph2" class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <div id="chartContainer_1" style="height: 300px; width: 70%;">
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="divGraph3" class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <div id="chartContainer_2" style="height: 300px; width: 70%;">
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="divGraph4" class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <div id="chartContainer_3" style="height: 300px; width: 70%;">
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/DataPrediction.js"></script>
